body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header, .task-bar, .view-bar, main{
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.nav-toggle {
    display: block;
    cursor: pointer;
}

.nav-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

main {
    display: flex;
}

nav {
    display: block;
}